
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>Hello Controller View</p>

@*Comment Code*@

<!--single statement block-->
@{ var total = 7;}
<!--Inline -->
<p>The value of total: @total</p>
<!--Multiple statement block-->
@{
    var Text = "Test Multi";
    var num = 3;
}
<p>The @Text & @num </p>