
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Index.cshtml";
}

直接在这里写的内容会输出到RenderBody
<h2>RenderBody</h2>

@section top1{
    <script>

    </script>
}

@section bottom1{
    这是一个底部信息
}