
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>文档搜索</title>
</head>
<body>
    <div> 
        <form action="/Search/SearchContent" method="post">
            请输入搜索条件:<input type="text" name="txtContent">
            <input type="submit" name="btnSearch" value="搜索" />
            <input type="submit" name="btnCreate" value="创建索引库" />
        </form>
    </div>
</body>
</html>
