
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>权限管理</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <!--要使用AjaxHelper必须添加这个文件-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>

    <script type="text/javascript">
        $(function () {
            loadData();
            $("#addDiv").css("display", "none");
            $("#editDiv").css("display", "none");
            $("#setActionRoleDiv").css("display", "none");
            $('#btnSearch').click(function () {
                var pars = {
                    name: $("#txtRName").val(),
                    remark: $("#txtRemark").val()
                };

                loadData(pars);
            });
            bindActionTypeEnumChange();
            bindFileupClick();
        });

        //给权限绑定change事件
        function bindActionTypeEnumChange() {
            $("#ActionTypeEnumChange").change(function () {
                if ($(this).val() == "1") {
                    $("#actionIconTr").fadeIn("show");
                } else {
                    $("#actionIconTr").fadeOut("show");
                }
            });
        }
        //文件上传
        function bindFileupClick() {
            $("#btnFileUp").click(function () {
                if ($("#fileUp").val() == "") {
                    $.messager.alert("提示", "请选择上传的文件", "error");
                    return;
                }
                //开始进行异步上传图片
                $("#addForm").ajaxSubmit({
                    success: function (data) {
                        var serverData = data.split(':');
                        if (serverData[0] == "ok") {
                            //显示上传成功的图片，应该用缩略图
                            $("#showImage").append("<img src=" + serverData[1] + " width='40px' height='40px'/>");
                            //将上传成功的图片地址保到存隐藏域中，单击提交表单按钮，完成提交。
                            $("#hiddenMenuIcon").val(serverData[1]);
                        } else {
                            $.messager.alert("提示", serverData[1], "error");
                        }
                    },
                    url: "/ActionInfo/FileUpload",
                    type: "post"
                });
            });
        }

        //加载界面
        function loadData(pars) {
            $('#tt').datagrid({
                url: '/ActionInfo/GetActionInfo',
                title: '权限数据表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载权限信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 5,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [5, 10, 15],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: '编号', width: 80 },
                    { field: 'ActionInfoName', title: '权限名称', width: 120 },
                    { field: 'Url', title: '请求地址', width: 120 },
                    { field: 'HttpMethod', title: '请求方式', width: 120 },
                    {
                        field: 'ActionTypeEnum', title: '权限类型', width: 120,
                        //格式化列
                        formatter: function (value, row, index) {
                            var type = value == 1 ? "菜单权限" : "普通权限";
                            return type;
                        }
                    },
                    { field: 'Sort', title: '排序', width: 120 },
                    { field: 'Remark', title: '备注', width: 120 },
                    {
                        field: 'SubTime', title: '时间', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                        }
                    },
                    {
                        field: 'Operator', title: '操作', width: 120, align: 'right',
                        formatter: function (value, row, index) {
                            var str = "<a href='javascript:void(0)' ids='" + row.ID + "' class='deletes'>删除</a>";
                            str += "&nbsp;&nbsp;<a href='javascript:void(0)' ids='" + row.ID + "' class='edits'>编辑</a>";
                            return str;
                        }
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        deleteActionInfoList();
                    }
                }, {
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        addActionInfo();
                    }
                }, {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-edit',
                    handler: function () {
                        editSelectActionInfo();
                    }
                }, {
                    id: 'btnSetActionRole',
                    text: '为权限分配角色',
                    iconCls: 'icon-edit',
                    handler: function () {
                        setActionRoleInfo();
                    }
                }, {
                    id: 'btnSetUserAction',
                    text: '为特殊用户分配角色',
                    iconCls: 'icon-edit',
                    handler: function () {
                        setUserActionInfo();
                    }
                }],
                onLoadSuccess: function () {
                    $(".deletes").click(function () {
                        deleteActionInfo($(this).attr("ids"));
                    });

                    $(".edits").click(function () {
                        editActionInfo($(this).attr("ids"))
                    });
                }
            }); //datagrid
        }//loadData

        //为特殊用户分配权限
        function serUserActionInfo() {

        }
        //为权限分配角色
        function setActionRoleInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert("提醒", "请选择一条要分配角色信息的权限", "error");
                return;
            }
            $("#setActionRoleFrame").attr("src", "/ActionInfo/SetActionRole/?actionId=" + rows[0].ID);
            $("#setActionRoleDiv").css("display", "block");
            $('#setActionRoleDiv').dialog({
                title: "为权限分角色信息",
                width: 300,
                height: 300,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //$('#editForm').submit();
                        var childWindow = $("#setActionRoleFrame")[0].contentWindow;
                        childWindow.subForm();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#setActionRoleDiv').dialog('close');
                    }
                }]
            });
        }
        function setActionRoleAfter(data) {
            if (data == "ok") {
                $("#setActionRoleDiv").dialog('close');
            } else {
                $.messager.alert("提示", "分配异常!!", "error");
            }
        }

        //删除权限
        function deleteActionInfoList() {
            var rows = $('#tt').datagrid('getSelections');
            if (!rows || rows.length == 0) {
                $.messager.alert("提醒", "请选择要删除的记录！", "error");
                return;
            }
            $.messager.confirm("提示", "确定要删除该记录？", function (r) {
                if (r) {
                    var strId = "";
                    for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].ID + ",";
                    }
                    strId = strId.substr(0, strId.length - 1);
                    $.post("/ActionInfo/DeleteActionInfoList", { "strId": strId }, function (data) {
                        if (data == "ok") {
                            $('#tt').datagrid('clearSelections');//清除已删除的选项的记录
                            $('#tt').datagrid('reload');//重新加载页面，回到原分页目录
                        } else {
                            $.messager.alert("提醒", "删除记录失败！", "error");
                        }
                    });//post
                }
            });//message.confirm
        }
        function deleteActionInfo(actionId) {
            $.post("/ActionInfo/DeleteActionInfo", { "actionId": actionId }, function (data) {
                if (data == "ok") {
                    $('#tt').datagrid('reload');
                } else {
                    $.messager.alert("提醒", "删除记录失败", "error");
                }
            });
        }

        //添加权限
        function addActionInfo() {
            $("#addDiv").css("display", "block");
            $('#addDiv').dialog({
                title: "添加权限信息",
                width: 350,
                height: 300,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $('#addForm').submit();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#addDiv').dialog('close');
                    }
                }]
            });
        }
        function afterAdd(data) {
            if (data == "ok") {
                $("#addForm input").val("");
                $('#addDiv').dialog('close');
                $('#tt').datagrid('reload');
            } else {
                $.messager.alert("提示", "添加失败", "error");
            }
        }

        //修改权限
        function editSelectActionInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert("提醒", "请选择要编辑的一条记录！", "error");
                return;
            }
            editActionInfo(rows[0].ID)
        }
        function editActionInfo(actionId) {
            $("#editFrame").attr("src", "/ActionInfo/ShowEditInfo/?id=" + actionId);

            $('#editDiv').css("display", "block");
            $('#editDiv').dialog({
                title: "编辑权限信息",
                width: 300,
                height: 300,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        //$('#editForm').submit();
                        var childWindow = $("#editFrame")[0].contentWindow;
                        childWindow.subForm();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#editDiv').dialog('close');
                    }
                }]
            });
        }
        function afterEdit(data) {
            if (data == "ok") {
                $('#editDiv').dialog('close');//清除已删除的选项记录
                $('#tt').datagrid('reload');
            } else {
                $.messager.alert('提醒', '编辑权限信息失败', 'erroe');
            }
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body>
    <div>
        角色名:<input type="text" id="txtRName" value="" />&nbsp;&nbsp;备注<input type="text" name="txtRemark" value="" /><input type="button" id="btnSearch" value="搜索" />
        <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>
    </div>
    <!---------------添加权限信息--------------------->
    <div id="addDiv">
        <!--enctype="multipart/form-data":如果上传文件时，必须添加属性。将文件内容作为请求报文的一部分-->
        @using (Ajax.BeginForm("AddActionInfo", "ActionInfo", new {}, new AjaxOptions() {HttpMethod = "Post", OnSuccess = "afterAdd"}, new {id = "addForm", enctype = "multipart/form-data"}))
    {
        <table>
            <tr><td>权限名称</td><td><input type="text" name="ActionInfoName" /></td></tr>
            <tr><td>Url</td><td><input type="text" name="Url" /></td></tr>
            <tr>
                <td>HttpMethod</td>
                <td>
                    <select name="HttpMethod">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>权限类型</td>
                <td>
                    <select name="ActionTypeEnum" id="ActionTypeEnumChange">
                        <option value="0">普通权限</option>
                        <option value="1">菜单权限</option>
                    </select>
                </td>
            </tr>
            <tr style="display: none" id="actionIconTr">
                <td>菜单图标</td>
                <td>
                    <!--文件上传域-->
                    <input type="file" name="fileIconUp" id="fileUp" /><br />
                    <!--如果type为submit，那么会把整个表单都会提交；为button，则由ajax Form只提交图片-->
                    <input type="button" value="上传图片" id="btnFileUp" />
                    <input type="hidden" name="MenuIcon" id="hiddenMenuIcon" />
                    <div id="showImage"></div>
                </td>
            </tr>
            <tr><td>备注</td><td><input type="text" name="Remark" /></td></tr>
            <tr><td>排序</td><td><input type="text" name="Sort" /></td></tr>
        </table>
    }
    </div>

    <!---------------修改角色信息--------------------->
    <div id="editDiv">
        <iframe id="editFrame" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>
        @*@using (Ajax.BeginForm("EditRoleInfo", "RoleInfo", new { }, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "afterEdit" }, new { id = "editForm" }))
            {
                <input type="hidden" name="SubTime" id="txtSubTime" />
                <input type="hidden" name="DelFlag" id="txtDelFlag" />
                <input type="hidden" name="ID" id="txtId" />
                <table>
                    <tr><td>角色名</td><td><input type="text" name="RoleName" id="txtRoleName" /></td></tr>
                    <tr><td>备注</td><td><input type="text" name="Remark" id="txtRemark" /></td></tr>
                    <tr><td>排序</td><td><input type="text" name="Sort" id="txtSort" /></td></tr>
                </table>
            }*@
    </div>

    <!---------------为权限分配角色信息--------------------->
    <div id="setActionRoleDiv">
        <iframe id="setActionRoleFrame" scrolling="no" frameborder="0" width="100%" height="100%"></iframe>
    </div>
</body>
</html>
