@using _01_MVCBasic.Models;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1>Hello Show</h1>
        @{
            int a1 = 10;
            Response.Write($"Response.Write{a1}");
        }
        <br />
        Razor:@a1<br />123
        <hr />
        在Razor中支持C#代码与html混合编写
        @for (int i = 0; i < 10; i++)
        {
            if (i % 2 == 0)
            {
                @i<span>123</span>
            }
        }
        @**服务器端注释，在生成的页面代码中没有该注释*@
        <!--客户端注释，在浏览器源代码中有注释-->
        @{ 
            var person = new Person("Jhon",32);
        }
        <br/>Name:@person.Name
        <br/>Age:@person.Age
    </div>
</body>
</html>
