
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <!--要使用AjaxHelper必须添加这个文件-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        $(function () {
            loadData();
            $("#addDiv").css("display", "none");
            $("#editDiv").css("display", "none");
            $('#btnSearch').click(function () {
                var pars = {
                    name: $("#txtRName").val(),
                    remark: $("#txtRemark").val()
                };

                loadData(pars);
            });
        });

        function loadData(pars) {
            $('#tt').datagrid({
                url: '/RoleInfo/GetRoleInfo',
                title: '角色数据表格',
                width: 700,
                height: 400,
                fitColumns: true, //列自适应
                nowrap: false,
                idField: 'ID',//主键列的列明
                loadMsg: '正在加载角色信息...',
                pagination: true,//是否有分页
                singleSelect: false,//是否单行选择
                pageSize: 5,//页大小，一页多少条数据
                pageNumber: 1,//当前页，默认的
                pageList: [5, 10, 15],
                queryParams: pars,//往后台传递参数
                columns: [[//c.UserName, c.UserPass, c.Email, c.RegTime
                    { field: 'ck', checkbox: true, align: 'left', width: 50 },
                    { field: 'ID', title: '编号', width: 80 },
                    { field: 'RoleName', title: '角色名', width: 120 },
                    { field: 'Sort', title: '排序', width: 120 },
                    { field: 'Remark', title: '备注', width: 120 },
                    {
                        field: 'SubTime', title: '时间', width: 80, align: 'right',
                        formatter: function (value, row, index) {
                            return (eval(value.replace(/\/Date\((\d+)\)\//gi, "new Date($1)"))).pattern("yyyy-M-d");
                        }
                    }
                ]],
                toolbar: [{
                    id: 'btnDelete',
                    text: '删除',
                    iconCls: 'icon-remove',
                    handler: function () {
                        deleteRoleInfo();
                    }
                }, {
                    id: 'btnAdd',
                    text: '添加',
                    iconCls: 'icon-add',
                    handler: function () {
                        addRoleInfo();
                    }
                }, {
                    id: 'btnEdit',
                    text: '修改',
                    iconCls: 'icon-edit',
                    handler: function () {
                        editRoleInfo();
                    }
                }]
            }); //datagrid
        }//loadData

        function deleteRoleInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if (!rows || rows.length == 0) {
                $.messager.alert("提醒", "请选择要删除的记录！", "error");
                return;
            }
            $.messager.confirm("提示", "确定要删除该记录？", function (r) {
                if (r) {
                    var strId = "";
                    for (var i = 0; i < rows.length; i++) {
                        strId = strId + rows[i].ID + ",";
                    }
                    strId = strId.substr(0, strId.length - 1);
                    $.post("/RoleInfo/DeleteRoleInfo", { "strId": strId }, function (data) {
                        if (data == "ok") {
                            $('#tt').datagrid('clearSelections');//清除已删除的选项的记录
                            $('#tt').datagrid('reload');//重新加载页面，回到原分页目录
                        } else {
                            $.messager.alert("提醒", "删除记录失败！", "error");
                        }
                    });//post
                }
            });//message.confirm
        }

        function addRoleInfo() {
            $("#addDiv").css("display", "block");
            $('#addDiv').dialog({
                title: "添加角色信息",
                width: 300,
                height: 300,
                collapsible: true,
                resizable: true,
                modal: true,
                buttons: [{
                    text: '确定',
                    iconCls: 'icon-ok',
                    handler: function () {
                        $('#addForm').submit();
                    }
                }, {
                    text: '取消',
                    handler: function () {
                        $('#addDiv').dialog('close');
                    }
                }]
            });
        }
        function afterAdd(data) {
            if (data == "ok") {
                $("#addForm input").val("");
                $('#addDiv').dialog('close');
                $('#tt').datagrid('reload');
            } else {
                $.messager.alert("提示", "添加失败", "error");
            }
        }

        function editRoleInfo() {
            var rows = $('#tt').datagrid('getSelections');
            if (rows.length != 1) {
                $.messager.alert("提醒", "请选择要编辑的一条记录！", "error");
                return;
            }
            $.post("/RoleInfo/GetRoleInfoModel", { "id": rows[0].ID }, function (data) {
                if (data.msg == "ok") {
                    $("#txtRoleName").val(data.serverData.RoleName);
                    $("#txtRemark").val(data.serverData.Remark);
                    $("#txtSort").val(data.serverData.Sort);
                    $("#txtSubTime").val(ChangeDateFormat(data.serverData.SubTime));
                    $("#txtDelFlag").val(data.serverData.DelFlag);
                    $("#txtId").val(data.serverData.ID);
                    $('#editDiv').css("display", "block");
                    $('#editDiv').dialog({
                        title: "编辑角色信息",
                        width: 300,
                        height: 300,
                        collapsible: true,
                        resizable: true,
                        modal: true,
                        buttons: [{
                            text: '确定',
                            iconCls: 'icon-ok',
                            handler: function () {
                                $('#editForm').submit();
                            }
                        }, {
                            text: '取消',
                            handler: function () {
                                $('#editDiv').dialog('close');
                            }
                        }]
                    });
                } else {
                    $.messager.alert("提醒", "展示数据错误！", "error");
                }
            });
        }
        function afterEdit(data) {
            if (data == "ok") {
                $('#editDiv').dialog('close');//清除已删除的选项记录
                $('#tt').datagrid('reload');
            } else {
                $.messager.alert('提醒', '编辑数据失败', 'erroe');
            }
        }
        //将序列化成json格式后日期(毫秒数)转成日期格式
        function ChangeDateFormat(cellval) {
            var date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
            var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
            var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
            return date.getFullYear() + "-" + month + "-" + currentDate;
        }
    </script>
</head>
<body>
    <div>
        角色名:<input type="text" id="txtRName" value="" />&nbsp;&nbsp;备注<input type="text" name="txtRemark" value="" /><input type="button" id="btnSearch" value="搜索" />
        <table id="tt" style="width: 700px;" title="标题，可以使用代码进行初始化，也可以使用这种属性的方式" iconcls="icon-edit"></table>
    </div>
    <!---------------添加用户信息--------------------->
    <div id="addDiv">
        @using (Ajax.BeginForm("AddRoleInfo", "RoleInfo", new { }, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "afterAdd" }, new { id = "addForm" }))
        {
            <table>
                <tr><td>角色名</td><td><input type="text" name="RoleName" /></td></tr>
                <tr><td>备注</td><td><input type="text" name="Remark" /></td></tr>
                <tr><td>排序</td><td><input type="text" name="Sort" /></td></tr>
            </table>
        }
    </div>
    <!---------------修改用户信息--------------------->
    <div id="editDiv">
        @using (Ajax.BeginForm("EditRoleInfo", "RoleInfo", new { }, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "afterEdit" }, new { id = "editForm" }))
        {
            <input type="hidden" name="SubTime" id="txtSubTime" />
            <input type="hidden" name="DelFlag" id="txtDelFlag" />
            <input type="hidden" name="ID" id="txtId" />
            <table>
                <tr><td>角色名</td><td><input type="text" name="RoleName" id="txtRoleName" /></td></tr>
                <tr><td>备注</td><td><input type="text" name="Remark" id="txtRemark" /></td></tr>
                <tr><td>排序</td><td><input type="text" name="Sort" id="txtSort" /></td></tr>
            </table>
        }
    </div>
</body>
</html>
