
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <!--要使用AjaxHelper必须添加这个文件-->
    <!--Webconfig, <add key="UnobtrusiveJavaScriptEnabled" value="true" />-->
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        //Jquery
        $(function (){
            $('#btnAdd').click(function () {
                $.post(
                    '@Url.Action("CalcAdd","_04Ajax")',
                    $('#form1').serialize(),
                    function (msg) {
                        $('#sum').val(msg);
                    }
                );
            });
        });

        //AjaxHelper
        function Success(obj) {
            $('#result').val(obj.Sum);
        }
    </script>
</head>
<body>
    <div>
        <hr />一、Jquery异步请求的方式<br />
        <form id="form1">
            <input type="text" name="calc1" />+
            <input type="text" name="calc2" />
            <input type="button" id="btnAdd" value="加" />
            <input type="text" name="sum" id="sum" />
        </form>5
        <br />
        <hr />二、AjaxHelper异步请求的方式(封装了Jquery异步请求)<br />
        @using (Ajax.BeginForm("CalcAdd1", "_04Ajax", new AjaxOptions
        {
            OnSuccess = "Success"
        }))
        {
            <input type="text" name="calc1" />
            <span>+</span>
            <input type="text" name="calc2" />
            <input type="submit" value="=" />
            <input type="text" id="result" />
        }
    </div>
</body>
</html>
