<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="MyContext" connectionString="data source=127.0.0.1;initial catalog=TestDemo1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;uid=sa pwd=123456" providerName="System.Data.SqlClient" />
  <add name="Model1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=_05_EFTransaction.Model1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
</configuration>