
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
</head>
<body>
    <div> 
        <h1>@ViewBag.Id</h1>
        <hr/>
        <h2>@ViewBag.Id2</h2>
    </div>
</body>
</html>
