
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div> 
        路由传值: @ViewBag.Id
        <hr/>
        Request传值: @ViewBag.Id1
    </div>
</body>
</html>
